body{
    background-image:url(https://img.freepik.com/foto-gratis/fondo-cuadricula-digital-abstracto-negro_53876-97647.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid green;

}
 /*Titulo */

 .contenedor-titulo{
    /*border: 1px solid black;*/
    text-align: center;
 }
 .titulo{
    font-family: fantasy;
    color: brown;

 }

header{
    display: flex;
    align-items: center;
}
.contenedor-imagen{
    position: relative;
    margin-right: 100px;
    margin: 20px;
    /*border: 1px solid black;*/
    
}
.imagen{
    height: 280px;
    border-radius: 25px;
}
.menu-navegacion{
    flex-grow: 1;
    margin-top: -100px;
    border: 1px solid black;
    

}
.navegacion{
    list-style-type:none;
    
    
}
.menu{
    
    padding: 15px 20px;
    display: inline-block;
    margin-right: 25px;
    background: #DDDDDD;
    transition: background 0.3s ease ; 
    border-radius: 20px;
}

.menu:hover{
    background:grey;
}
.menu a{
    text-decoration: none;
    color: blue;
    
}

.menu a:hover{
    color: black;
}
 /* cuerpo del docuemnto*/

 .contenedor-info{
    border: 1px solid black;
    text-align: center;
    justify-content: center;
 }
 .sobre-mi{
    font-family: cursive;
    color: #DDDDDD;

 }
 .info{
    font-family: 'Times New Roman', Times, serif;
    color: #DDDDDD;
 }